<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="Name">Prénom du client</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="idClient">idClient</label>
        <input type="text" id="id" class="form-control" formControlName="id">
      </div>
      <div class="form-group">
        <label for="code">code commune(INSEE)</label>
        <input type="text" id="codeInsee" class="form-control" formControlName="codeInsee">
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>